.lightgallery {
  overflow: hidden;
}
.lightgallery a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.lightgallery a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.lightgallery a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.lightgallery a:hover > img {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
}

.lightgallery a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.lightgallery a { 
  overflow: hidden;
  position: relative;
  width: 100%;
  float: left;
}
.lightgallery a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.5s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
/*  width: 100%;*/
}

.lightgallery a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
