@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

:root {
    --primary: #00021F;
    --purple: #42283f;
    --primary-darken: #000116;
    --white: #FFF;
    --white-darken: #fefefe;
    --font-color: #626262;
    --gold: #e0bb6d;
    --gold-darken: #A0864E;
    --gray: #f2f2f2;
    --gray-soften: #e2e2e2;
    --black: #111;
}

span input .check{
    margin: 1em !important;
}

.form-label{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0em;
    width: 100%;
    height: calc(100% - 1em);
    text-align: left;
    display: inline-block;
    float: right;
    padding: 0;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
}
#formulario-reservar{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 101;
    padding: 10px;
    height: auto;
}

#boton-reservar{
    position: fixed;
    z-index: 100;
    text-align: center;
    letter-spacing: 3px;
    bottom: -4px;
    right: 30px;
    padding: 15px 20px;
    background: #FF851B;
    color: #FFF;
    z-index: 12;
    /*border-top-right-radius: 5px;*/
    /*border-top-left-radius: 5px;*/
    transition: all 0.5s ease;
    cursor: pointer;
}

#boton-reservar:before{
    content: '';
    position: absolute;
    border: #e0bb5b solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: pulse 2s infinite;
    -o-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

#boton-reservar:hover{
    background-color: #00021f;
    transition: 0.5s;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
  Scrollbar
  ========================================================================== */

  ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
  }
  ::-webkit-scrollbar-button {
      display: none;
  }
  ::-webkit-scrollbar-thumb {
      background: var(--primary);
      border: none;
      border-radius: 16px;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: var(--primary);
  }
  ::-webkit-scrollbar-thumb:active {
      background: var(--primary);
  }
  ::-webkit-scrollbar-track {
      background: #FFF;
      border: none;
      /*border-radius: 39px;*/
  }
  ::-webkit-scrollbar-track:hover {
      background: #EEE                                                                                                                                                                                                                                                                                                                                                                                                                                                  ;
  }
  ::-webkit-scrollbar-track:active {
      background: #3e2723;
  }
  ::-webkit-scrollbar-corner {
      background: transparent;
  }

/* ==========================================================================
   Fonts
   ========================================================================== */

   @font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/MinionPro-BoldIt.eot');
    src: url('../fonts/MinionPro-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MinionPro-BoldIt.woff2') format('woff2'),
    url('../fonts/MinionPro-BoldIt.woff') format('woff'),
    url('../fonts/MinionPro-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/MinionPro-Regular.eot');
    src: url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MinionPro-Regular.woff2') format('woff2'),
    url('../fonts/MinionPro-Regular.woff') format('woff'),
    url('../fonts/MinionPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/MinionPro-Bold.eot');
    src: url('../fonts/MinionPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MinionPro-Bold.woff2') format('woff2'),
    url('../fonts/MinionPro-Bold.woff') format('woff'),
    url('../fonts/MinionPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/MinionPro-BoldCn.eot');
    src: url('../fonts/MinionPro-BoldCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MinionPro-BoldCn.woff2') format('woff2'),
    url('../fonts/MinionPro-BoldCn.woff') format('woff'),
    url('../fonts/MinionPro-BoldCn.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/MinionPro-MediumIt.eot');
    src: url('../fonts/MinionPro-MediumIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MinionPro-MediumIt.woff2') format('woff2'),
    url('../fonts/MinionPro-MediumIt.woff') format('woff'),
    url('../fonts/MinionPro-MediumIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/MinionPro-Medium.eot');
    src: url('../fonts/MinionPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MinionPro-Medium.woff2') format('woff2'),
    url('../fonts/MinionPro-Medium.woff') format('woff'),
    url('../fonts/MinionPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/MinionPro-BoldCnIt.eot');
    src: url('../fonts/MinionPro-BoldCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MinionPro-BoldCnIt.woff2') format('woff2'),
    url('../fonts/MinionPro-BoldCnIt.woff') format('woff'),
    url('../fonts/MinionPro-BoldCnIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/MinionPro-It.eot');
    src: url('../fonts/MinionPro-It.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MinionPro-It.woff2') format('woff2'),
    url('../fonts/MinionPro-It.woff') format('woff'),
    url('../fonts/MinionPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic.woff2') format('woff2'),
    url('../fonts/CenturyGothic.woff') format('woff'),
    url('../fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   * {
    box-sizing: border-box;
}

body {
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    line-height: 2;
    color: var(--font-color);
}

section {
    position: relative;
    overflow: hidden;
}

small {
    font-size: 65%;
}

footer {
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    color: var(--white);
}

footer > div {
    /*display: table;*/
    width: 100%;
}

footer .footer-desc {
    position: relative;
    overflow: hidden;
    padding-right: 5%;
    padding-left: 5%;
    background: var(--primary);
}

footer .footer-desc a {
    color: var(--gold);
    text-decoration: none;
}

footer .footer-desc > .row {
    margin-top: 30px;
    margin-bottom: 15px;
}

footer .footer-menu {
    position: relative;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    background: var(--primary-darken);
}

footer .footer-menu ul {
    margin: 0 auto;
    /*padding-left: 0;*/
    padding-top: 10px;
    list-style-type: none;
}

.footer-menu li:not(:last-child) {
    border-right: 1px solid var(--white);
}

.footer-menu li a {
    padding: 5px 25px;
    font-size: 0.75em;
    color: var(--white);
    text-decoration: none;
}


#instafeed {
    width: 95%;
    /*height: 200px;*/
    margin: 0 auto;
}

#instafeed a {
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.banner-promos {
    width: 100%;
    position: relative;
    color: var(--white);
}

.banner-promos:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}

.wrapper {
    position: relative;
}

/*.parallax {
    width: 100%;
    height: 100%;
    background: url(../img/fondo.png);
    background-position: 50% 0;
    background-repeat: no-repeat;   
    background-size: cover;
    }*/

    .parallax > section {
        position: relative;
    }


    .title {
        text-align: center;
        font-family: "Minion Pro", serif;
        padding: 0px 10px;    
    }

    .subtitle h2,
    .subtitle-gray h4 {
        position: relative;
        color: var(--gray-soften);
        line-height: 1;
        padding-left: 28px;
        margin-bottom: 0;
    }

    .subtitle h2::before,
    .subtitle-gray h4::before {
        content: "";
        background: var(--gray-soften);
        height: 2px;
        width: 20px;
        position: absolute;
        top: 0.6rem;
        left: 0;
    }

    .subtitle-gray h4 {
        color: var(--font-color);
    }

    .subtitle-gray h4::before {
        background: var(--font-color);
        top: 0.3rem;
    }

    .bio-info .subtitle h2 {
        color: var(--primary);
    }

    .bio-info .subtitle h2::before {
        background-color: var(--primary);
    }

    .bg-primary .subtitle h4 {
        position: relative;
        color: var(--white);
        line-height: 1;
        padding-left: 28px;
        margin-bottom: 0;
    }

    .bg-primary .subtitle h4::before {
        content: "";
        background: var(--white);
        height: 2px;
        width: 20px;
        position: absolute;
        top: 0.4rem;
        left: 0;
    }

    .subtitle p {
        color: var(--primary);
        font-size: 0.8rem;
        font-weight: 600;
        margin-top: 0;
    }

    .text-primary {
        color: var(--primary);
    }

    .title-section {
        /*letter-spacing: 5px;*/
        /*font-family: "Minion Pro", serif;*/
        text-align: center;
    }

    .title-section h1 {
        display: inline-block;
        font-weight: 400;
        letter-spacing: 0.3rem;
        color: var(--primary);
        font-size: 2rem;
        line-height: 2rem;
        padding: 5px 10px 0;
        border: 2px solid var(--primary);  
    }

    .title-section h2{
        display: inline-block;
        line-height: 1;
/*    padding-bottom: 5px;
border-bottom: 2px solid currentcolor;*/
}

.title-section-container {
    width: 0;
    height: 60px;
    /*width: 463px;*/
    background: url(../img/texto.png) left 0 no-repeat;
    transition: width 3s ease;
}

.title-section-container.appear {
    width: 463px;
}

.header-section {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

/**paddings**/

.no-padding {
    padding: 0;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}

.padding-card {
    padding: 30px;
}

.padding-card-tour {
    padding: 15px 30px;
}

/**Margins**/

.no-margin {
    margin: 0;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-80 {
    margin-top: 80px;
}

.ml-30n {
    margin-left: -30px;
}

.mr-30n {
    margin-right: -30px;
    z-index: 1;
}

/** Backgrounds **/

.bg-white {
    background: var(--white);
}

.bg-white-2 {
    background: var(--white-darken);
}

.bg-primary {
    background: var(--primary);
    color: var(--white);
}

.bg-gray {
    background-color: var(--gray);
}

/** Heights **/

.h-410 {
    height: 410px;
}

.h-500 {
    height: 500px;
}

/** Flex **/

.flex-column-center {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.flex-column-around {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.flex-row-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.flex-row-around {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

/** Preloader **/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: var(--white);*/
    z-index: 15;
}

.overlay-bco {
    background: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#enlace-reservar{
    cursor: pointer;
}

.preloader.top-circle {
    position: absolute;
    top: -125px;
    left: 50%;
    margin-left: -125px;
    /*background: transparent;*/
    /*padding-top: 90px;
    padding-left: 3%;
    padding-right: 3%;*/
    width: 250px;
    height: 250px;
}

#logo-svg,
#logo-png {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -8.333%;
}

#logo-texto {
    width: 69%;
    position: absolute;
    top: 150px;
    left: 17%;
    /*margin-left: -38.5%;*/
}

#logo-png.top-logo {
    width: 32%;
    top: 150px;
    left: 34.5%;
    margin-left: 0;
    transition: top 1.5s ease, left 1.5s ease, margin-left 1.5s ease, width 1.5s ;
}

#monje-centro {
    animation: draw 0.8s ease-in-out 0.35s forwards;
}

#monje-izquierda {
    animation: draw 0.8s ease-in-out 0.75s forwards;
}

#monje-derecha {
    animation: draw 0.8s ease-in-out 0.75s forwards;
}

#techo, #balcon {
    animation: draw 1.10s ease-in-out 1.35s forwards;
}

#bolita3{
    animation: draw 0.75s ease-in-out 0.35s forwards;
}

#bolita2, #bolita4{
    animation: draw 0.6s ease-in-out 0.75s forwards;
}

#bolita1, #bolita5{
    animation: draw 0.5s ease-in-out 1s forwards;
}

#contorno {
    animation: draw 2.5s ease-in-out forwards;
}

@keyframes draw {
    from{}

    to {
        stroke-dashoffset: 0;
    }
}

/* OwlSlider */

.frontpage-slider {
    padding: 0;
    background: #474747;
    background: -moz-linear-gradient(left, #474747 0%, #a0a0a0 100%);
    background: -webkit-linear-gradient(left, #474747 0%, #a0a0a0 100%);
    background: linear-gradient(to right, #474747 0%, #a0a0a0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#474747', endColorstr='#a0a0a0', GradientType=1)
}

@media(max-width:991px) {
    .frontpage-slider .container {
        padding-left: 0;
        padding-right: 0;
        width: 100%
    }
}

.owl-slider-header .item {
    height: 300px;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover
}

.owl-slider-header .item>.container {
    position: relative
}

.owl-slider-header .item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 38, 57, .3)
}

.owl-slider-header .item .box {
    position: absolute;
    width: 100%;
    color: #fff;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 99;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.owl-slider-header .item .box.box-bottom {
    top: 90%;
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.owl-slider-header .item .desc {
    display: none;
    text-shadow: 0 0 10px #000
}

.owl-slider-header .item .title {
    font-size: 32px;
    font-family: "Playfair Display", serif;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    text-transform: none
}

.owl-slider-header .item .title span {
    color: #ceb071
}

.owl-slider-header .item .btn {
    margin-top: 15px
}

@media(min-width:768px) {
    .owl-slider-header .item {
        height: 740px
    }
    .owl-slider-header .item .desc {
        display: block;
        font-size: 16px
    }
    .owl-slider-header .item .title {
        font-size: 46px;
        text-transform: uppercase
    }
    .owl-slider-header .item .btn {
        margin-top: 40px
    }
}

@media(min-width:1200px) {
    .owl-slider-header .item {
        height: 700px
    }
    .owl-slider-header .item .desc {
        font-size: 18px
    }
    .owl-slider-header .item .title {
        font-size: 48px
    }
}

@media(max-width:767px) {
    .owl-slider-header .item .btn {
        display: none
    }
}

.owl-slider-header .owl-controls .owl-buttons div span {
    color: #fff
}

.owl-slider-header .owl-controls .owl-buttons .owl-next {
    right: 10px
}

.owl-slider-header .owl-controls .owl-buttons .owl-prev {
    left: 10px
}

@media(min-width:992px) {
    .owl-slider-header .owl-controls .owl-buttons .owl-next {
        right: 50px
    }
    .owl-slider-header .owl-controls .owl-buttons .owl-prev {
        left: 50px
    }
}

.owl-slider-header .owl-controls .owl-page span {
    background: #fff
}

.owl-slider-gallery {
    background-color: #fff
}

@media(min-width:768px) {
    .owl-slider-gallery .item {
        height: 450px;
        background-position: center;
        background-size: cover
    }
    .owl-slider-gallery .item img {
        display: none
    }
}

@media(min-width:1200px) {
    .owl-slider-gallery .item {
        height: 600px
    }
}

.owl-slider-gallery .owl-controls .owl-pagination {
    bottom: auto;
    top: 20px;
    text-align: right;
    right: 40px
}

.owl-slider-gallery .owl-controls .owl-buttons>div {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-transform: translateY(-50%) scale(2);
    -ms-transform: translateY(-50%) scale(2);
    -o-transform: translateY(-50%) scale(2);
    -webkit-transform: translateY(-50%) scale(2);
    transform: translateY(-50%) scale(2)
}

.owl-slider-gallery .owl-controls .owl-buttons .owl-next {
    right: 50px
}

.owl-slider-gallery .owl-controls .owl-buttons .owl-prev {
    left: 50px
}

/** Inputs **/
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    /*max-width: 350px;*/
    width: calc(100% - 2em);
    vertical-align: top;
}
.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    line-height: 1.5;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    -webkit-appearance: none; /* for box shadows to show on iOS */
}
.input__field:focus {
    outline: none;
}
textarea.input__field {
    resize: none;
}
.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    /*font-size: 70.25%;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input__label-content {
    position: relative;
    display: block;
    /*padding: 1.6em 0;*/
    width: 100%;
}
/* Hoshi */
.input--hoshi {
    overflow: hidden;
}
.input__field--hoshi {
    margin-top: 1em;
    padding: 0.85em 0.15em;
    width: 100%;
    background: transparent;
    color: #595F6E;
}
textarea.input__field--hoshi {
    margin-top: 1.5em;
}
.input__label--hoshi {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0.25em;
    width: 100%;
    height: calc(100% - 1em);
    text-align: left;
    pointer-events: none;
}
.input__label-content--hoshi {
    position: absolute;
}
.input__label--hoshi::before,
.input__label--hoshi::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    border-bottom: 1px solid #B9C1CA;
}
.input__label--hoshi::after {
    margin-top: 2px;
    border-bottom: 4px solid var(--gold-darken);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.input__textarea.input__label--hoshi::before,
.input__textarea.input__label--hoshi::after {
    height: 100%;
}
.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards;
}
@-webkit-keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -60%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -60%, 0);
        transform: translate3d(0, -60%, 0);
    }
}
@keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -60%, 0);
        transform: translate3d(-1em, -60%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -60%, 0);
        transform: translate3d(0, -60%, 0);
    }
}

/** Home **/

.home {
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.home::before,
.home-panel::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(bottom, rgba(15,15,15, 0.6) 5%, transparent 25%, transparent 75%, rgba(15,15,15, 0.6) 100% );
    background: -o-linear-gradient(bottom, rgba(15,15,15, 0.6) 5%, transparent 25%, transparent 75%, rgba(15,15,15, 0.6) 100% );
    background: linear-gradient(to top, rgba(15,15,15, 0.6) 5%, transparent 25%, transparent 75%, rgba(15,15,15, 0.6) 100% );
}

.home-logo {
    position: absolute;
    top: -125px;
    border-radius: 50%;
    padding-top: 90px;
    padding-left: 3%;
    padding-right: 3%;
    width: 250px;
    height: 250px;
    background: #FFF;
}

.home-title,
.home-suites .title {
    /*width: 100%;*/
    color: var(--white);
    letter-spacing: 15px;
    background: rgba(0,0,0,0.3);
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
    border-radius: 50%;
    transition: all 3s;
    animation-duration: 3s;
    z-index: 1;
}

.menu-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 40px;
    z-index: 12;
    overflow: hidden;
    transition: all 0.5s;
}

.nav-logo {
    /*display: none;*/
    /*width:55px;
    margin-top: 10px;
    margin-left:30px;
    margin-right:30px;*/
    position: absolute;
    top: -100px;
    left: 50%;
    width: 0px;
    /*transition: all 0.5s;*/
}

.fixed-menu {
    position: fixed;
    bottom: auto;
    top: 0;
    height: 70px;
    background: rgba(0,2,31, 0.8);
}

.fixed-menu ul.menu {
    height: 100%;
}

.fixed-menu .nav-logo {
    /*display: block;*/
    /*width: 55px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    transition: all 0.5s ease 0.3s;*/
    position: relative;
    top: 0;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    left: auto;
    width: 55px;
    transition: all 0.5s ease 0.3s;
}

.menu {
    list-style-type: none;    
    padding: 0 30px;
    margin: 0 auto;
    /*font-weight: 600;*/
    /*background: rgba(0,0,0,0.4);*/
    /*box-shadow: 0 0 25px rgba(0,0,0,0.6);*/
}

.menu:hover li a{
    opacity: 0.5;
}

.menu li a {
    display: block;
    padding: 5px 25px;
    text-decoration: none;
    color: var(--white);
    text-shadow: 3px 3px 8px #111;
    transition: all 0.3s;
}

.menu li a:hover {
    background: var(--primary);
    /*border: 2px solid chocolate;*/
    opacity: 1;
    /*font-weight: 700;*/
}

.menu-container.fixed-menu li a {
    text-shadow: none;
}

.menu-container.fixed-menu li a:hover {
    background: transparent;
    border-bottom: 2px solid var(--white);
}

.home-about .container {
    position: relative;
    z-index: 2;
}

#home-about {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #111;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}

#slide-container {
    width: 300%;
    height: 100%;
    overflow: hidden;
}

.home-panel {
    position: relative;
    height: 100%;
    width: 33.333%;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.label-izq {
    position: absolute;
    left: -25%;
    padding: 5px 15px;
    background: rgba(255,255,255,0.8);
    color: var(--black);
    letter-spacing: 3px;
}

.label-izq-1 {
    top: 18%;
    transition: left 0.6s ease;
}

.label-izq-2 {
    top: 26%;
    transition: left 0.6s ease 0.3s;
}

.label-izq-1.show-slide-1,
.label-izq-2.show-slide-1 {
    left: 0;
}

.label-der {
    position: absolute;
    right: -25%;
    padding: 5px 15px;
    background: rgba(255,255,255,0.8);
    color: var(--black);
    letter-spacing: 3px;
}

.label-der-1 {
    bottom: 30%;
    transition: right 0.6s ease;
}

.label-der-2 {
    bottom: 22%;
    transition: right 0.6s ease 0.3s;
}

.label-der-3 {
    top: 13%;
    transition: right 0.6s ease;
}

.label-der-4 {
    top: 21%;
    transition: right 0.6s ease 0.3s;
}

.label-der-1.show-slide-2,
.label-der-2.show-slide-2,
.label-der-3.show-slide-3,
.label-der-4.show-slide-3 {
    right: 0;
}

.text-card {
    width: 150px;
    height: 150px;
    /*border: 1px solid #222;*/
}

.home-about-card {
    position: absolute;
    /*text-align: center;*/
    /*padding: 10px;*/
    line-height: 1.5;
    color: var(--primary);
    /*background: var(--white);*/
    display: flex;
    align-items: center;
    justify-content: center;   
}

.home-about-card-1 {
    left: 10%;
    top: 13%;
    opacity: 0;
    transition: all 2s ease 1s;
}

.home-about-card-1.show-slide-2 {
    opacity: 1;
}

.home-about-card-2 {
    bottom: 10%;
    right: 10%;
    opacity: 0;
    transition: all 2s ease 1s;
}

.home-about-card-2.show-slide-3 {
    opacity: 1;
}

.home-about-card-3 {
    left: 2%;
    bottom: 16%;
}

.text-about-card-4 {
    width: 200px;
    height: 200px;
    left: 50%;
    top: 55%;
    padding: 10px 30px;
    margin-left: -115px;
    margin-top: -115px;
    background-color: var(--white-darken);
}

.img-home-about-3 {
    position: absolute;
    top: 25%;
    left: 12%;
}

.home-suites-title {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 50%;
    margin-top: -1rem;
}

.home-suites-images {
    overflow: hidden;
    display: table;
    width: 100%;
    height: 550px;
}

.suite-preview {
    height: 100%;
    width: 25%;
    position: relative;
    display: table-cell;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    transition: all 1.2s ease-in-out; 
}

.suite-preview:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.5s;
}

.suite-preview .bar {
    content: "";
    position: absolute;
    width: 100%;
    height: 3rem;
    left: 0;
    bottom: -3rem;
    background: rgba(0,0,0,0.8);
    text-align: center;
    transition: all 0.3s;
}

.suite-preview .bar a {
    display: block;
    height: 3rem;
    padding-top: 0.5rem;
    color: var(--gold);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 700;
}

.suite-preview .bar:hover {
    background: var(--gold);
}

.suite-preview .bar:hover a {
    color: #FFF;
}

.home-suites-images:hover > .suite-preview {
    width: 12%;
}

.home-suites-images:hover > .suite-preview:hover {
    width: 44%;
}

.home-suites-images:hover > .suite-preview:hover > .bar {
    bottom: 0;
}

.home-suites-images:hover > .suite-preview:before {
    background: rgba(0,0,0,0.8);
}

.home-suites-images:hover > .suite-preview:hover:before {
    background: rgba(0,0,0,0);
}

.home-suites-images:hover + .home-suites-title {
    display: none;
}

.suite-1 {
    background-position-x: left;    
}

.suite-2,
.suite-3 {
    background-position-x: center;
}

.suite-4 {
    background-position-x: right; 
}

.btn {
    display: block;
    text-decoration: none;
    color: var(--gold);
    padding-bottom: 5px;
    /*padding-left: 15px;*/
    letter-spacing: 3px;
    font-size: 1rem;
    font-weight: 700;
    border-bottom: 2px solid var(--gold);
    text-align: right;
}

.btn-default {
    display: inline-block;
    text-align: center;
}

.btn-cta {
    border: 0;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 8px 15px;
    background: var(--gold-darken);
    color: var(--white);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 700;
    transition: all 0.3s ease;
}

.btn-cta:hover {
    background: var(--gold);
}

.btn-nosotros {
    position: absolute;
    bottom: 5%;
    right: 10%;
    opacity: 0;
    transition: all 0.6s ease 0.6s;
}

.btn-nosotros.show-slide-1 {
    bottom: 10%;
    opacity: 1;
}

.btn-bar,
.btn-seg-patio {
    position: absolute;
    bottom: 5%;
    opacity: 0;
    left: 10%;
    transition: all 0.6s ease 0.6s;
}

.btn-bar.show-slide-2,
.btn-seg-patio.show-slide-3 {
    bottom: 10%;
    opacity: 1;
}

a.link {
    text-decoration: none;
    color: var(--font-color);
}

a.link-cta {
    text-decoration: none;
    color: var(--gold);
    transition: all 0.3s;
}

a.link-cta:hover {
    color: var(--gold-darken);
}

.section-content {
    padding: 80px 0;
}

.gallery-azotea div.slick-slide {
    padding: 0 3px;
}



.grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3px 3px;    
}

.grid-item img {
    height: 100%;
}

.grid-item.two-rows {
    grid-row: 1 / span 2;
}

.grid-item.two-columns {
    grid-column: span 2;
}

.grid-item.area-4 {
    grid-column: span 2;
    grid-row: span 2;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: center;
}

.table>thead>tr>th {
    border-bottom: 2px solid currentColor;
    padding: 5px;
}

.card-info-salon {
    padding: 40px 20px;
    color: var(--gray-soften);
}

#close-modal-icon {
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

#close-modal-icon:hover {
    transform: rotate(90deg);
}

.close-modal-icon-color {
    stroke: var(--primary);
}

#close-modal-icon:hover .close-modal-icon-color{
    stroke: var(--font-color);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*.perspective-right {
    perspective: 1000px;
}

.perspective-right img {
    transform: rotateY(-30deg);
    }*/

    .box-shadow {
        box-shadow: 5px 5px 8px #333;
    }

    .divider {
        height: 2px;
        background: #c2c2c2;
    }

    .border-gray-soften {
        border: 1px solid var(--gray-soften);
    }

    #ot-widget-container0 iframe {
        margin: 0 auto;
        display: flex;
    }

    .col-center {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0,-20%,0);
            transform: translate3d(0,-20%,0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0,20%,0);
            transform: translate3d(0,20%,0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

/*
 * Hide visually and from screen readers
 */

 .hidden {
    display: none !important;
    visibility: hidden !important;
}
/*

 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

 .invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.img-responsive {
    width: 100%;
}

.box-shadow {
    box-shadow: 7px 7px 12px rgba(0,0,0,0.5);
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.header-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 3s ease;
}

.header-overlay:before {
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6) 5%, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.05) 60%);
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.6) 5%, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.05) 60%);
    background: linear-gradient(to top, rgba(0,0,0,0.6) 5%, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.05) 60%); 
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
